{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowAccessLoose",
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "events:ListEventBuses",
                "events:ListRules",
                "events:ListTargetsByRule",
                "ecr:DescribeRegistry",
                "apigateway:GET"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowSSMAccess",
            "Effect": "Allow",
            "Action": [
                "ssm:GetParameters",
                "ssm:GetParameter",
                "ssm:GetParametersByPath",
                "kms:Decrypt"
            ],
            "Resource": [
                "arn:aws:ssm:{{.Region}}:{{.AccountId}}:parameter/self/*",
                "arn:aws:ssm:{{.Region}}:{{.AccountId}}:parameter/self/env"
            ]
        }
    ]
}