{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowAccessLoose",
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "events:ListEventBuses",
                "events:ListRules",
                "events:ListTargetsByRule",
                "ecr:DescribeRegistry",
                "apigateway:GET"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowIAMAccess",
            "Effect": "Allow",
            "Action": [
                "iam:*"
            ],
            "Resource": [
                "arn:aws:iam::{{"{{"}} .Account.Id {{"}}"}}:policy/{{ .Resource.Namespace }}-*",
                "arn:aws:iam::{{"{{"}} .Account.Id {{"}}"}}:role/{{ .Resource.Namespace }}-*"
            ]
        },
        {
            "Sid": "AllowLambdaAccess",
            "Effect": "Allow",
            "Action": [
                "lambda:*"
            ],
            "Resource": [
                "arn:aws:lambda:{{"{{"}} .Region {{"}}"}}:{{"{{"}} .AccountId {{"}}"}}:function:{{ .Resource.Namespace }}-*"
            ]
        },
        {
            "Sid": "AllowECRRegistryAccess",
            "Effect": "Allow",
            "Action": [
                "ecr:*"
            ],
            "Resource": [
                "arn:aws:ecr:{{"{{"}} .RegistryRegion {{"}}"}}:{{"{{"}} .RegistryAccountId {{"}}"}}:repository/{{ .Repository.Namespace }}/*"
            ]
        },
        {
            "Sid": "AllowEventBridgeAccess",
            "Effect": "Allow",
            "Action": [
                "events:DeleteRule",
                "events:RemoveTargets",
                "events:PutRule",
                "events:PutTargets"
            ],
            "Resource": [
                "arn:aws:events:{{"{{"}} .Region {{"}}"}}:{{"{{"}} .AccountId {{"}}"}}:rule/{{ .Resource.Namespace }}-*"
            ]
        },
        {
            "Sid": "AllowAPIGatewayAccess",
            "Effect": "Allow",
            "Action": [
                "apigateway:POST",
                "apigateway:DELETE",
                "apigateway:PATCH"
            ],
            "Resource": [
                "arn:aws:apigateway:*::/apis/{{"{{"}} .ApiGatewayId {{"}}"}}/routes",
                "arn:aws:apigateway:*::/apis/{{"{{"}} .ApiGatewayId {{"}}"}}/routes/*",
                "arn:aws:apigateway:*::/apis/{{"{{"}} .ApiGatewayId {{"}}"}}/integrations",
                "arn:aws:apigateway:*::/apis/{{"{{"}} .ApiGatewayId {{"}}"}}/integrations/*"
            ]
        }
    ]
}